.apartment-slider {
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-bottom: 5rem;

    &-main {
        position: absolute;
        top: 0;
        right: 14rem;
        bottom: 0;
        left: 0;
        background: $color-1--6;

        .slick-list {
            height: 100%;
        }

        .slick-track { 
            height: 100%;

            @media (max-width: 767px) {
                display: flex;
                align-items: center;
            }
        }

        .slick-slide {
            position: relative;

            .slide {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }

            a {
                display: block;
                height: 100%;
            }

            img {
                //width: auto !important;
                //height: 100%;
                width: 100%;
                max-width: none !important;
                margin: 0 auto;
            }

            @media (max-width: 767px) {
                .slide {
                    position: static;
                    transform: none;
                }

                img {
                    width: 100% !important;
                    height: auto;
                }
            }
        }

        .slick-arrow {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 6rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background: transparent;
            border: none;
            outline: none;
            z-index: 10;
            cursor: pointer;

            &::before {
                font-family: 'icomoon' !important;
                speak: none;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                font-size: 6rem;
                text-indent: 0;
                color: $color-white;
                opacity: .5;
            }

            &.slick-prev {
                left: 0;

                &::before {
                    content: '\e918';
                }
            }

            &.slick-next {
                right: 0;
                left: auto;

                &::before {
                    content: '\e919';
                }
            }

            &.slick-disabled {
                opacity: 0;
            }
        }
    }

    &-thumbs {
        width: 14rem;
        background: $color-black;
        padding: 0 0 0 0.3rem;

        .slick-arrow,
        .slick-dots {
            display: none !important;
        }

        .slick-slide {
            border: none;
            background: $color-black;
            margin: 0 0 0.3rem 0;
            opacity: .4;
            height: 12rem;
            position: relative;
            overflow: hidden;

            &.slick-current {
                opacity: 1;
            }

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                min-width: 100%;
                min-height: 100%;
                max-width: none;
                width: 100%;
                
            }
        }

        .slick-list {
            padding: 0 !important;
        }
    }

    &-info {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        min-height: 4.1rem;
        padding: 1rem 1.5rem;
        background: rgba($color-black, 0.5);
        color: $color-white;
        font-size: 1.4rem;
    }
    
    @media (max-width: 767px) {
        flex-direction: column;

        &-main {
            order: 2;
            position: relative;
            top: auto;
            left: auto;
            right: auto;
            bottom: auto;
            //margin-bottom: 1rem;
        }

        &-info {
            display: none;
            order: 1;
            background: $color-1--3;
            position: static;
        }

        &-thumbs {
            display: none;
            
            //don't delete
            /*order: 3;
            width: 100%;
            
            .slick-slide {
                margin: 0;
            }*/
        }
    }
}

.fancybox-appartment {

    @media(min-width: 768px) {
        .fancybox-content {
            transform: none !important;
            width: 100% !important;
            height: 100% !important;
            padding: 3rem 0 5rem;

            img {
                width: auto !important;
                height: 100%;
                max-width: none !important;
                margin: 0 auto;
                position: static;
            }
        } 
    }
}
.fancybox-appartment_gallery {
    .fancybox-navigation { 
        .fancybox-button {
            font-family: 'icomoon' !important;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            font-size: 9rem;
            text-indent: 0;
            color: $color-white;
            opacity: 0.7;
            padding: 0;
            background: transparent;
            margin: 0;

            &:hover,
            &:active {
                opacity: 1;
            }

            &::before {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            svg {
                display: none;
            }

            @media(max-width: 767px) {
                font-size: 4rem;
            }
        }

        .fancybox-button--arrow_left {
            &::before {
                content: '\e918';
            }
        }

        .fancybox-button--arrow_right {
            &::before {
                content: '\e919';
            } 
        }
    }

    .fancybox-bg {
        opacity: 0.9;
    }

    .fancybox-infobar {
        top: 1rem;
        left: 1rem;
        background: $color-1--3;
        height: auto;
        padding: 0.8rem 1rem;
        border-radius: 5px;
        color: $color-white; 
        font-size: 2rem;
        line-height: 1; 
        opacity: 0.8;
    }

    .fancybox-toolbar {
        position: static;
    }

    .fancybox-button {
        &--zoom,
        &--play {
            display: none !important;
        }

        &--close {
            position: absolute;
            top: 1rem;
            right: 1rem;
            width: 6.5rem;
            height: 6.5rem;
            padding: 0;
            background: transparent;
            z-index: 99999;

            @media(max-width: 767px) {
                width: 4rem;
                height: 4rem;
            }
        }

        &--thumbs {
            position: absolute;
            bottom: 1rem;
            right: 1rem;
            width: 6.5rem;
            height: 6.5rem;
            padding: 0;
            background: transparent;
            z-index: 99999;

            @media(max-width: 767px) {
                width: 4rem;
                height: 4rem;
            }
        }
    }
    .fancybox-caption {
        padding: 0.9rem 5rem;
        font-size: 2.1rem;

        @media(max-width: 767px) {
           font-size: 1.9rem;
        }
    }

    .fancybox-thumbs {
        background: $color-black;
    }
}