.form-wrap {
	display: flex; 
	flex-wrap: wrap; 
	margin: 0 -1rem 4rem;

	@include breakpoint(small down) {
        margin: 0 -1rem 2rem;
	}
	
	.passport-tourist {
		color: $color-1--4;
		font-size: 1.4rem;
		padding: 1rem 0;
		margin-bottom: 0.5rem;
		text-align: center;
	}

    &__checkbox {
		width: 100%;
		border-bottom: 1px solid $color-1--6;

		&:first-child {
			border-top: 1px solid $color-1--6;
		}

		.checkbox,
		.radio {
			margin: 0;
		}

    	input {
    		width: 1.4rem;
    		min-height: 1.4rem;
    		margin-right: 0.5rem;
    	}

    	label {
    		display: flex;
			font-weight: normal;
			padding: 1.5rem 0 1.5rem 2.5rem;

			&:before {
				//top: 1.5rem;
				top: 50%;
    			transform: translateY(-50%);
			}

			&:after {
				//top: 1.9rem;
				top: 50%;
				transform: translateY(-50%);
			}
			
			.checkbox-price {
				margin-left: auto;
				display: inline-block;
				min-width: 8rem;
				text-align: right;
			}
    	}
    }
}

.booking-btn {
	background-color: $color-1--2;
	border: none;
	border-radius: 4px;
	color: $color-white;
	
	@include on-event() {
		background-color: $color-1--1;
	}
}