.js-swiper-control {
    @include trs();

    &[data-fa-icon] {
        &::before {
            margin-right: 0;
        }
    }

    &.swiper-button-disabled {
        opacity: 0.1;
        pointer-events: none;
    }

    &.-is-hidden {
        display: none;
    }
}
