$form-field-attached-fz: 1.4;
$form-field-attached-bg: rgba($color-3--2, 0.4);
$form-powermail-fieldwrap-fz: 1.2;
$form-powermail-fieldwrap-c: $color-2--2;

// @name Form
form {
    display: block;
    margin: 2em 0 3em;

    &:first-child {
        margin-top: 0;
    }

    // @name Form in Powermail confirmation page
    .confirmation & {
        display: inline-block;
        margin: 0;
    }
}

// @name Fieldset
fieldset {
    background: transparent;
    border: 0;
    margin-bottom: 6em;
    margin-top: 3em;
    min-width: inherit; // trick for chrome
    position: relative;

    &:first-child {
        margin-top: 0;
    }
}

.form {
    $this: &;

    // @name field-group
    &__field-group {
        align-items: center;
        display: flex;
        flex-wrap: nowrap;

        &:not(.-type-uri) {
            @include breakpoint(small down) {
                flex-wrap: wrap;
            }
        }

        > * {
            flex-basis: 100%;
        }

        input {
            margin: 0;
        }
    }

    // @name Field wrapper
    // @description For wrap set of field (field + label + text...)
    &__field-wrapper {
        margin-bottom: 2.5em;
        margin-top: 1.5em;

        // @name Datepicker extend
        // @description Extend _datepicker.scss : Move the datepicker opener and change datepicker size
        &.-datewrapper {
            position: relative;

            &[class*='col-'] {
                .date-picker-control {
                    margin: 1rem 2rem 1rem 1rem;
                }
            }

            .date-picker-control {
                bottom: 0;
                margin: 1rem;
                position: absolute;
                right: 0;
            }
        }
    }

    // @name before-field
    // @description Information before and after field
    &__field-attached {
        background: $form-field-attached-bg;
        flex: 1 0 auto;
        font-size: #{$form-field-attached-fz}rem;
        font-weight: $normal;
        padding: em(1.2, $form-field-attached-fz) em(1, $form-field-attached-fz);
        text-transform: none;

        //@include breakpoint(small down) {
        //    flex: 1 0 100%;
        //}
    }
}

// @name Geocode input text
// @description add a "localization me" button with JS, and report user address in the input field
.geocode__wrapper {
    position: relative;

    #{&}-btn {
        background-color: $color-1--2;
        border-color: transparent;
        bottom: 0.2rem;
        color: $color-white;
        position: absolute;
        right: 0.2rem;
        top: 0.2rem;
        z-index: 1;

        &::before {
            color: inherit;
        }

        @include on-event() {
            background-color: $color-white;
            border-color: rgba($color-3--2, 0.5);
            color: $color-1--2;
        }
    }
}

.date-picker {
    table {
        font-size: 1.5rem;
    }
}

// @name Datepicker extend
// @description Extend _jquery.timepicker.scss : change timepicker size
.ui-timepicker-wrapper {
    font-size: 1.5rem;
}

/*
    Todo - Check parsley styles after it's will be implemented
    @author - evanre
    @data - 22/3/18
    @time - 17:13
*/

// @name Parsley styling
// @description Style for form error generated by parlsey (powermail)
.parsley-errors-list {
    p {
        //@include default-icons-before('\e00f', 0, 1.6rem, $color-1--1);
        color: $color-1--1;
        font-size: 1.2rem;
        font-style: italic;
        margin: 5px 0 15px;
    }
}

// Specific form

// input file resume
.rte .powermail_fieldwrap_file_list,
.powermail_fieldwrap_file_list {
    list-style: none;
    padding: 0;

    > li {
        /*@include icon-before($fa-var-angle-right);*/
        font-size: #{$form-powermail-fieldwrap-fz}rem;
        margin: 0.5em 0;
        padding-left: 1em;
        position: relative;

        &::before {
            content: '';
            color: $form-powermail-fieldwrap-c;
            font-weight: $bold;
            left: 0;
            line-height: 1;
            position: absolute;
        }
    }

    > .powermail_fieldwrap_file_list__delete {
        padding-left: 0;

        &::before {
            content: inherit;
            display: none;
        }
    }

    .btn {
        &::before {
            color: $form-powermail-fieldwrap-c;
        }
    }

}
