/**
 * Containers has 4 variations:
 *  - `.container` - width 1160px
 *  - `.container -sm` - width 940px
 *  - `.container -lg` - width 1220px
 *  - `.container -fluid` - width 100%
 *
 * You can configure containers width in `core/layouts/_wrappers.scss`
 *
 * @section Containers
 * @page Layout
 *
 * @example
 * <div class="container -sm">Small container width 940px</div>
 * <div class="container">Default container width 1160px</div>
 * <div class="container -lg">Large container width 1220px</div>
 * <div class="container -fluid">Fluid container width 100%</div>
 *
 */

$container-width: 118rem;
$container-fluid-width: 100%;
$container-sm-width: 96rem;
$container-lg-width: 124rem;
$container-padding: 0 $flex-gutter / 2; // $flex-gutter used in _flexbox-grid-mixin for Columns gutter width
$container-tablet-width: 98rem;
$container-mobile-width: 100%;

%container {
    @extend %clear-fix;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: $container-width;
    padding: $container-padding;
    width: 100%;
}

.container-wrapper {
    width: 100%;

    &.-dark {
        background: radial-gradient(circle at 53.75% center, $color-black 0%, #2a2a2a 100%);
    }
}

.container {
    @extend %container;

    @include breakpoint(medium down) {
        max-width: $container-tablet-width;
        padding: 0 2rem;
    }

    @include breakpoint(small down) {
        max-width: $container-mobile-width;
        padding: 0 1rem;
    }

    &.-fluid {
        max-width: $container-fluid-width;
    }

    &.-sm {
        max-width: $container-sm-width;

        @include breakpoint(medium down) {
            max-width: $container-tablet-width;
        }

        @include breakpoint(small down) {
            max-width: $container-mobile-width;
        }
    }

    &.-lg {
        max-width: $container-lg-width;

        @include breakpoint(medium down) {
            max-width: $container-tablet-width;
        }

        @include breakpoint(small down) {
            max-width: $container-mobile-width;
        }
    }

    &.-page {
        padding: 0 1rem 3rem;

        @include breakpoint(small down) {
            padding-bottom: 1rem;
        }
    }

    &.-black {
        //background-color: $color-black;
        background: radial-gradient(circle at 53.75% center, $color-black 0%, #2a2a2a 100%);
    }

    .sidebar & {
        padding: 0;
    }
}

// Site main layout
.site-wrapper-out {
    display: flex;
    min-height: 100vh;
    width: 100%;
}

.site-wrapper {
    @include flex(column, wrap);
    min-height: 100vh;
    position: relative;
    width: 100%;

    &.-overflow-hidden {
        overflow: hidden;
    }
}

.site-header {
    flex-basis: auto;
    flex-shrink: 0;
    position: relative;
    width: 100%;
    z-index: auto;
}

.site-main {
    flex-grow: 1;
    width: 100%;
    //overflow-x: hidden;
}

.site-footer {
    flex-basis: auto;
    position: relative;
    width: 100%;
}

.top-of-content {
    background-color: transparent;
    flex-basis: auto;
    width: 100%;
    margin: -8rem 0 0;
    z-index: 51;

    @include breakpoint(medium down) {
        display: none;
    }

    &__wrapper {
        padding-bottom: 2.75rem;
        padding-top: 2.75rem;
    }
}

.site-inner {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.site-content,
.sidebar {
    display: table-cell;
    vertical-align: top;
    width: 100%;

    @include breakpoint(medium down) {
        display: block;
    }
}

.site-content {
    span.anchor:first-of-type + .colPos0 > *:first-child,
    span.anchor:first-of-type + .colPos0 .ce-bodytext > *:first-child {
        margin-top: 0;
    }
    .title-block {
        margin-bottom: 2.6rem;
        svg {
            margin-top: 0.6rem;
        }
        @include breakpoint(small down) {
            margin-bottom: 1.9rem;
        }
    }
}

.sidebar {
    @include breakpoint(large) {
        padding: 0 8rem 0 0;
        width: #{(25+8)}rem;

        .site-content + & {
            padding: 0 0 0 8rem;
        }
    }

    @include breakpoint(small down) {
        padding: 0 !important;
    }
}
